/* Import Wix Madefor Text font */
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:wght@400;500;600;700;800&display=swap');

body {
    background-color: #F7FAFF;
    font-family: 'Wix Madefor Text', 'Helvetica Neue', Helvetica, Arial, meiryo, sans-serif;
    margin: 0;
    padding: 20px;
}


.text-style-1 {
    color: rgb(0, 6, 36);
	padding-top: 50px;
	padding-left: 50px;
    display: block;
    filter: blur(0px);
    font-size: 40px;
    line-height: 42px;
    margin-bottom: 12px; /* Keeps space after text-style-1 */
    opacity: 1;
    transition: opacity 1.2s ease-in-out, filter 1.2s ease-in-out;
    -webkit-font-smoothing: antialiased;
}

.text-style-2 {
    color: rgb(134, 138, 165);
	padding-left: 50px;
    display: block;
    filter: blur(0px);
    opacity: 1;
    transition: opacity 1.2s ease-in-out, filter 1.2s ease-in-out;
    -webkit-font-smoothing: antialiased;
}
